nav{
    background-color: beige;
    padding: 25px;
    ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        li{
            color: black;
        }
    }
}