form{
    display: flex;
    align-items: center;
    justify-content: center;
    input{
        padding: 20px;
        border: 20px;
        font-size: 15px;
    }
    button{
        padding: 20px;
        border: 20px;
        font-size: 15px;
    }
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}